extends layout  

block content          
  div(class='content')
    h1  Сказки
    if !data
      a(href='/tales') Вернуться к списку сказок
      img(src=img alt="skazka")
      h2= title
      span= fl
      p= text
    else
      ul
      each item in data
        a(href='tales/?t='+ item.id)
          li= item.title
